@import '../variables.scss';

.app {
  text-align: center;

  &-header {
    background-color: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;
  }
}
